@mixin border-radius($radius) {
            border-radius: $radius;
        -ms-border-radius: $radius;
       -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin user-select($sel) {
          user-select: $sel;
      -ms-user-select: $sel;
     -moz-user-select: $sel;
  -webkit-user-select: $sel;
}

@mixin color-mix($color, $bg-color, $bd-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $bd-color;
}